.player-info{
    float: left;
    width: 25%;
    height: 350px;
    background-color: rgb(165, 136, 231);
    border: 1px solid aquamarine;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 5px 5px 20px lightgray;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.flag{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.add-player{
    width: 200px;
    height: 30px;
    background-color:bisque;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.player-container{
    width: 85%;
    margin-top: 50px;
}
.playCost{
    color: darkred;
}
